In [15]:
import pandas as pd
import numpy as np
from LVQ import LVQ
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [16]:
colnames = ['Sample_code_number', 'Clump_Thickness', 'Uniformity_of_Cell_Size', 'Uniformity_of_Cell_Shape',
            'Marginal_Adhesion', 'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
            'Normal_Nucleoli', 'Mitoses', 'Class']
data = pd.read_csv("breast-cancer-wisconsin.data", names=colnames)
data.head()

,Sample_code_number,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [17]:

# Data pre processing
data = data.replace({'Class': {2: 0, 4: 1}})
# Replacing the missing values with 1
# data = data.replace({'?': 1})
# Remove data wich has missing values
data = data[data.Bare_Nuclei != "?"]

total_samples = data['Sample_code_number'].count()
print("Number of rows\t: {}".format(total_samples))
cat_vars = ['Clump_Thickness', 'Uniformity_of_Cell_Size', 'Uniformity_of_Cell_Shape',
                    'Marginal_Adhesion', 'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
                    'Normal_Nucleoli', 'Mitoses', 'Class']
data_final = data[cat_vars]

Number of rows	: 683

In [18]:
data_final.isnull().sum()

Clump_Thickness                0
Uniformity_of_Cell_Size        0
Uniformity_of_Cell_Shape       0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Bland_Chromatin                0
Normal_Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [19]:
data_final['Class'].nunique()

2

In [20]:
# data_final["Bare_Nuclei"] = data_final.to_numeric(df["Bare_Nuclei"])
data_final = data_final.astype({"Bare_Nuclei": int})
data_final.head()

,Clump_Thickness,Uniformity_of_Cell_Size,Uniformity_of_Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0

In [21]:
X = data_final.loc[:, data_final.columns != 'Class']
y = data_final.loc[:, data_final.columns == 'Class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.349, random_state=1)

In [22]:
#Fitting model 
from neupy import algorithms
lvq = algorithms.LVQ(n_inputs=9, n_classes=2)

# fit the model with data
lvq.train(X_train, y_train, epochs=1000)


#Preiction for test set 
y_pred=lvq.predict(X_test)

In [24]:


from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix

print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
print("\nConfution Matrix: \n{}\n".format(confusion_matrix(y_test, y_pred)))
print("\nClassification Report: \n{}\n".format(classification_report(y_test, y_pred)))

Accuracy: 0.9581589958158996

Confution Matrix:
[[148   4]
 [  6  81]]


Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.97      0.97       152
           1       0.95      0.93      0.94        87

    accuracy                           0.96       239
   macro avg       0.96      0.95      0.95       239
weighted avg       0.96      0.96      0.96       239